@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.cke_chrome {
    box-shadow: none !important;
}

.btn-ui {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    &:hover {
        background-color: #e6e6e6;
        border-color: #adadad;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: #333;
    }

    &:active {
        background-color: #e6e6e6;
        border-color: #adadad;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: #333;
    }

    &:focus {
        outline: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

#cke_1_contents {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

#main-container-editor {
    position: fixed;
    width: 100%;
    height: 100%;

    .top-bar-clases {
        display: flex;
        justify-content: space-between;

        #top {
            z-index: 999999999;
        }
    }


    #container-editor {
        height: 100%;
        width: 100%;
        background-color: #C4C4C4;


        .editor-frame {
            display: flex;
            width: 70%;
            padding-bottom: 20px;
            padding-top: 20px;
            padding-left: 40px;
            justify-content: center;

            .editor-canvas {
                width: 100%,
            }
        }

        .sidebar-container {
            width: 25%;
            background-color: #f2f2f2;
            height: 100%;
        }
    }


}


.containers-bar {
    width: 100%;
    padding: 10px;

    .top-bar-clases {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: 1px solid #e3e3e3;

        #top {
            z-index: 999999999;
        }
    }

    // component attribute
    .group-attr {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        flex-direction: column;

    }
}

.labels {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: .8em;
}

.text-left {
    text-align: left;

    &.msg-inp {
        font-size: .6em;
        color: #018a21;
    }
}

.select-module {
    text-align: left;
}

.btn-main-primary {
    background-color: #4b81bf;
    color: #fff;
    border: 1px solid #4b81bf;

    &:hover {
        background-color: #4b81bf;
        color: #fff;
        border: 1px solid #4b81bf;
    }
}